html, body, #divMap {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
    overflow: hidden;
    font-family: "Trebuchet MS";
}
#divPrint {  
    position: absolute;  
    left: 9px; 
    top: 90px; 
} 