html, body, #map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
    overflow: hidden;
    font-family: "Trebuchet MS";
}

#bcMain {
    width: 100%;
    height: 100%;
}

#cpLeading {
    width: 117px;
}

#BasemapToggle {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 50;
}
